{% extends 'base.jinja.html' %}

{% block header_script %}
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
{% endblock %}