{% extends 'base.jinja.html' %} 

{% block header_script %}
<link href="../static/css/signup.css" rel="stylesheet">
<link href="../static/css/user.css" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tmpl.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %} 

{% block footer_script %}

<script>

$(function() {
    getWishes();
});

function getWishes() {
    $.ajax({
        url: '/getWish',
        type: 'GET',
        success: function(res) {
            /* updated success callback using jQuery template */
            var wishObj = JSON.parse(res);
            $('#ulist').empty();
            $('#listTemplate').tmpl(wishObj).appendTo('#ulist');
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function edit(elm) {
    console.log(elm);
    $.ajax({
        url: '/getWishById',
        data: {
            id: $(elm).data('id')
        },
        type: 'POST',
        success: function (res) {
            var data = JSON.parse(res)[0];

            $('#editTitle').val(data.title);
            $('#editDescription').val(data.desc);

            $('#editModal').modal();
            localStorage.setItem('editId', $(elm).data('id'));
        }, 
        error: function (error) {
            console.log(error);
        }
    });
}

$('#btnUpdate').click(function() {
    $.ajax({
        url: '/updateWish',
        type: 'POST',
        data: {
            title: $('#editTitle').val(),
            description: $('#editDescription').val(),
            id: localStorage.getItem('editId')
        },
        success: function(res) {
            console.log(res);
            $('#editModal').modal('hide');

            getWishes();
        },
        error: function(err) {
            console.log(err);
        }
    });
});

function confirmDelete(element) {
    localStorage.setItem('deleteId', $(element).attr('data-id'));
    console.log(localStorage.getItem('deleteId'));
    $('#deleteModal').modal();
}

function submitDelete() {
    $.ajax({
        url: '/deleteWish',
        data: {
            id: localStorage.getItem('deleteId')
        },
        type: 'POST',
        success: function(res) {
            var result = JSON.parse(res);
            if (result.status == 'OK') {
                $('#deleteModal').modal('hide');
                getWishes();
            } else {
                alert(result.status);
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}

</script>
{% endblock %} 

{% block content %}

<script id="listTemplate" type="text/x-jQuery-tmpl">
    <li class="list-group-item">
        <div class="checkbox">
            <label for="">${title}</label>
        </div>
        <div class="pull-right action-buttons">
            <a data-id=${id} onclick="edit(this)">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a data-id=${id} onclick="confirmDelete(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </li>
</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <ul id="ulist" class="list-group">
            
            </ul>
        </div>
    </div>
</div>

{# Modal for update item detail #}
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">Update Wish</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="editTitle">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Description:</label>
                        <textarea class="form-control" id="editDescription"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this forever !!</h4>
            </div>
 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitDelete()" >Delete</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
